.App-container  {
  margin: 0;
  padding: 0;
}

.homeBg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.top-header {
  text-align: center;
  width: 100%;
  height: auto;
  padding-top: 1vw;
  color: white;
}

.display-1  {
  font-size: 4vw;
  z-index: 1;
  margin-bottom: 3vw;
}

.lead {
  text-align: center;
  color: white;
}

.list-of-images  {
  position: absolute;
  top: 10vw;
  left: 10%;
  width: 80%;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.49);
  border-radius: 25px;
}
